force-app/main/default/flows/Two_Factor_Authentication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_security_code</name>
        <label>send security code</label>
        <locationX>409</locationX>
        <locationY>31</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Security_Code</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>verification code:{!VarNSecurityCode}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>LoggedInUserEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>verify your identity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Matching_city</name>
        <label>Matching city</label>
        <locationX>401</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Not Match</defaultConnectorLabel>
        <rules>
            <name>Current_city_match_with_whitelisted_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SovCityList.City__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VarTCurrentCity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dlete_the_custom_Record</targetReference>
            </connector>
            <label>Current city match with whitelisted one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_security_code</name>
        <label>Verify security code</label>
        <locationX>660</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Could_Not_MAtch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do nOt Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarNSecurityCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Validation_Code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dlete_the_custom_Record</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <formulas>
        <name>LoggedInUserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>LoggedInUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Two Factor Authentication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Two Factor Authentication</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>201</locationX>
        <locationY>93</locationY>
        <assignNextValueToReference>SovCityList</assignNextValueToReference>
        <collectionReference>SocCityList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matching_city</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>send_security_code</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_custom_record</name>
        <label>Create custom record</label>
        <locationX>77</locationX>
        <locationY>249</locationY>
        <assignRecordIdToReference>VarTRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_city_and_security_code</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Auth__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Dlete_the_custom_Record</name>
        <label>Dlete the custom Record</label>
        <locationX>406</locationX>
        <locationY>353</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTRecordID</elementReference>
            </value>
        </filters>
        <object>Custom_Auth__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_city_and_security_code</name>
        <label>Find city and security code</label>
        <locationX>137</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>find_white_listed_city</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTRecordID</elementReference>
            </value>
        </filters>
        <object>Custom_Auth__c</object>
        <outputAssignments>
            <assignToReference>VarTCurrentCity</assignToReference>
            <field>Current_City__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarNSecurityCode</assignToReference>
            <field>Security_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>find_white_listed_city</name>
        <label>find white listed city</label>
        <locationX>277</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filters>
            <field>City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WhiteListed_City__mdt</object>
        <outputReference>SocCityList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Could_Not_MAtch</name>
        <label>Could Not MAtch</label>
        <locationX>745</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Security_Code</targetReference>
        </connector>
        <fields>
            <name>Display_text</name>
            <fieldText>&lt;p&gt;Pls verify your Code&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Security_Code</name>
        <label>Security Code</label>
        <locationX>542</locationX>
        <locationY>144</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_security_code</targetReference>
        </connector>
        <fields>
            <name>Validation_Code</name>
            <dataType>Number</dataType>
            <fieldText>Validation Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_custom_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SocCityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WhiteListed_City__mdt</objectType>
    </variables>
    <variables>
        <name>SovCityList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WhiteListed_City__mdt</objectType>
    </variables>
    <variables>
        <name>VarNSecurityCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarTCurrentCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
