force-app/main/default/flows/Update_City.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>LoggedInUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Update City {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update City</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Current_City</name>
        <label>Find Current City</label>
        <locationX>94</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Custom_Auth_Record</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoggedInUserID</elementReference>
            </value>
        </filters>
        <object>LoginGeo</object>
        <outputAssignments>
            <assignToReference>VarTCurrentCity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Custom_Auth_Record</name>
        <label>Update Custom Auth Record</label>
        <locationX>155</locationX>
        <locationY>327</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTCustomAuth_RecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_City__c</field>
            <value>
                <elementReference>VarTCurrentCity</elementReference>
            </value>
        </inputAssignments>
        <object>Custom_Auth__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Current_City</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarTCurrentCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarTCustomAuth_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
